@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&display=swap');

body {
    background-color: #588157;
    color: #DAD7CD;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
}

.cabezado {
    display: flex;
    justify-content: center;
    font-size: xx-large;
}

.seccionPedidos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: -70%;
    margin-top: 6%;
}

.tablaPedidos {
    background-color: #3A5A40;
    display: flex;
    justify-content: center;
    padding: 50px;
}

.tablaPedidos tr{
    text-align: center;
}

.tablaPedidos th {
    padding: 10px;
}

.modificarPedido {
    display: flex;
    flex-direction: column;
    margin-left: 6.5%;
    margin-top: 8px;
}

.textAreas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center; 
}

.textAreas p {
    display: flex;
}

.textAreas p textarea{
    margin-left: 10px;
    font-family: 'Oswald', sans-serif;
}

.textAreas p input{
    margin-left: 10px;
    font-family: 'Oswald', sans-serif;
}

.textAreas textarea {
    text-align: center;
    resize: none;
}

.botonClear button {
    border: none;
    padding: 8px;
    margin: 1rem;
    background-color: #DAD7CD;
    color: #344E41;
}

.botoneraPedidos {
    margin-left: 0%;
}

.botoneraPedidos button{
    border: none;
    padding: 8px;
    margin: 1rem;
    background-color: #DAD7CD;
    color: #344E41;
}

.botoneraPedidos button:hover {
    transition: 0.7s;
    background-color: #344E41;
    color: #DAD7CD;
}

.toggle {
    display: none;
}

.toggleActivoError {
    transition: 2s ease-in;
    background-color: rgb(237, 39, 39);
    display: flex;
    position: relative;
    margin-top: 20%;
    margin-left: 85%;
    width: 15%;
    justify-content: center;
    border-radius: 10px;
    
}

